SOS-TRIAJE/docs/sostriaje3.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SosTriajeService" targetNamespace="http://triaje/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://triaje/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://triaje/" xmlns:tns="http://triaje/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="pojoCasoResuelto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCasoSOS" type="xs:string"/>
      <xs:element minOccurs="0" name="responsable" type="tns:pojoMedico"/>
      <xs:element minOccurs="0" name="opinion" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaSolucion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pojoMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="apellido" type="xs:string"/>
      <xs:element name="colegioDeMedico" type="xs:int"/>
      <xs:element name="ministerioDeSalud" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="servicioPruebaSosHME" type="tns:servicioPruebaSosHME"/>
  <xs:complexType name="servicioPruebaSosHME">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="servicioPruebaSosHMEResponse" type="tns:servicioPruebaSosHMEResponse"/>
  <xs:complexType name="servicioPruebaSosHMEResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enviarCasoSosHme" type="tns:enviarCasoSosHme"/>
  <xs:complexType name="enviarCasoSosHme">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="enviarCasoSosHmeResponse" type="tns:enviarCasoSosHmeResponse"/>
  <xs:complexType name="enviarCasoSosHmeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pojoCasoResuelto"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="servicioPruebaSosHMEResponse">
    <wsdl:part element="tns:servicioPruebaSosHMEResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="servicioPruebaSosHME">
    <wsdl:part element="tns:servicioPruebaSosHME" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarCasoSosHmeResponse">
    <wsdl:part element="tns:enviarCasoSosHmeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarCasoSosHme">
    <wsdl:part element="tns:enviarCasoSosHme" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SosTriajeServicePortType">
    <wsdl:operation name="servicioPruebaSosHME">
      <wsdl:input message="tns:servicioPruebaSosHME" name="servicioPruebaSosHME">
    </wsdl:input>
      <wsdl:output message="tns:servicioPruebaSosHMEResponse" name="servicioPruebaSosHMEResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarCasoSosHme">
      <wsdl:input message="tns:enviarCasoSosHme" name="enviarCasoSosHme">
    </wsdl:input>
      <wsdl:output message="tns:enviarCasoSosHmeResponse" name="enviarCasoSosHmeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SosTriajeServiceSoapBinding" type="tns:SosTriajeServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="servicioPruebaSosHME">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="servicioPruebaSosHME">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="servicioPruebaSosHMEResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarCasoSosHme">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enviarCasoSosHme">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enviarCasoSosHmeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SosTriajeService">
    <wsdl:port binding="tns:SosTriajeServiceSoapBinding" name="SosTriajeServicePort">
      <soap:address location="http://localhost:7070/sos/services/sosTriaje"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>